:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--foreground);
  background: #ffc700;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #8b8b81;
}

hr {
  border: none;             
  height: 0.1px;           
  background-color: #d3d3be;           
  opacity: 0.6;                /* немного прозрачности */
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 900px) {
  hr {
    height: 1px;               /* обязательно */
    opacity: 1;                /* убираем прозрачность */
  }
}

:root {

  font-size: 18px;
  

  --line-height: 1.7;
}


.header-links li,
.home-modal-list li {
  font-size: 1.1rem !important; 
  font-weight: 600;
}

/* Карточки товаров */
.news-section-card-h2 {
  font-size: 1.3rem !important; 
  font-weight: 700;
}

.news-section-card-price {
  font-size: 1.2rem !important; 
  color: #d97706; 
  font-weight: bold;
}

/* Кнопки */
.home-link-button,
.home-top-goods-button {
  font-size: 1.1rem !important;
  padding: 14px 28px !important;
}